{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>U Cool +</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Depression Remover and Content Recommender" name="keywords">
    <meta content="Depression Remover and Content Recommender" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.jpg' %}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Template Stylesheet -->

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand">UCool+</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="{% url 'index' %}" class="nav-item nav-link active ">Home</a>
                <a href="{% anchor 'index' 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% anchor 'index' 'service' %}" class="nav-item nav-link">Service</a>
                <a href="{% anchor 'index' 'guide' %}" class="nav-item nav-link">Guide</a>

<!--                <a href="#price" class="nav-item nav-link">Price</a>-->
                <a href="{% anchor 'index' 'review' %}" class="nav-item nav-link">Review</a>
                <a href="{% anchor 'index' 'team' %}" class="nav-item nav-link">Team</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                <a  class="nav-item nav-link">Hi, {{user.username}}</a>
                {%else%}
                <a href="{% url 'signin' %}" class="nav-item nav-link">Sign in</a>
                 <a href="{% url 'signup' %}" class="nav-item nav-link">Sign up</a>
                {% endif%}
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

{% block content%}

{% endblock %}


<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <h2>UCool+</h2>
                <h3>Pune, India</h3>
                <div class="footer-menu">
                    <p>+012 345 67890</p>
                    <p>info@example.com</p>
                </div>
                <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Ucool+</a>, All Right Reserve</p>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to top button -->
<a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>


<!-- Pre Loader -->
<div id="loader" class="show">
    <div class="loader"></div>
    <h3 style="bottom: 0;">  Wait while we are loading your content!</h3>
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js'%}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
<script src="{% static 'lib/typed/typed.min.js'%}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js'%}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'mail/jqBootstrapValidation.min.js'%}"></script>
<!--<script src="{% static 'mail/contact.js'%}"></script>-->

<!-- Template Javascript -->
<script src="{% static 'js/main.js'%}"></script>
<!--        chatbot-->
<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('99iac9sxnz3c');
</script>
<!-- End of Async Drift Code -->
</body>
</html>